<header class="col-md-12">
            <div class="row col-md-10 myRow">
                <nav role="navigation" class="navigation navbar-inverse">
                  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                  </button>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                              <div class="nav nav-pills top_menu col-lg-5 col-md-8">
                                    <li><a href="#">home</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">contact</a></li>
                              </div>
                    </div>
                </nav>
            </div>
            <div class="row col-md-10 myRow">
                  <div class="left_block">
                    <h1>our strong</br>organaisation</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="btn btn-danger contact_us">Contact Us</a>
                  </div>
                  <div class="right_block">
                      <div class="player"></div>
                  </div>
            </div>
        </header>
        <section class="section_one">
            <div class="row col-md-10 myRow">
                  <div class="left_block">
                    <h2>do you know we can</br>provide for you ?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.</p>
                    <a href="#" class="btn btn-default learn_more">Learn More</a>
                  </div>
                  <div class="right_block">
                      <div class="row">
                        <div class="servise col-md-6 col-sm-6">
                        <img src="/themes/custom/MyFirstTheme/img/settings.png" alt="settings">
                        <h4>Management</h4>
                          <p>Lorem ipsum dolor sitea amet,
                            zixf conseit  adipi cing elit, seddi
                            do eiusmod btdempor in didunt utlae ore etioe.
                            Lorem ipsum new idolor</p>
                        </div>
                        <div class="servise col-md-6 col-sm-6">
                        <img src="/themes/custom/MyFirstTheme/img/pencil.png" alt="pencil">
                          <h4>UI/UX Design</h4>
                          <p>Lorem ipsum dolor sitea amet,
                            zixf conseit  adipi cing elit, seddi do eiusmod btdempor
                            in didunt utlae ore etioe.
                            Lorem ipsum new idolor sit amet,</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="servise col-md-6 col-sm-6">
                        <img src="/themes/custom/MyFirstTheme/img/diamond.png" alt="diamond">
                        <h4>Logo/Branding</h4>
                          <p>Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do
                            eiusmod btdempor in didunt utlae ore etioeew idolor sit amet,</p>
                        </div>
                        <div class="servise col-md-6 col-sm-6">
                        <img src="/themes/custom/MyFirstTheme/img/truck.png" alt="truck">
                          <h4>Animation</h4>
                          <p>Lorem ipsum dolor sitea amet,
                            zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.
                            Lorem ipsum new idolor sit amet, consect netur.</p>
                        </div>
                      </div>
                  </div>
            </div>
        </section>
        <section class="section_two">
          <div class="row col-md-10 myRow">
            <h3>feature products</h3>
            <p>Lorem ipsum dolor sit amet,
              consectetur adipis cing elit,sed do eiusmod
            </br> tempor incididunt ut labore et.</p>
            <nav>
                             <div class="nav nav-pills middle_menu col-md-10">
                                    <li><a href="page.tpl.php">all</a></li>
                                    <li><a href="#">print template</a></li>
                                    <li><a href="#">web template</a></li>
                                    <li><a href="#">user interface</a></li>
                                    <li><a href="#">mock-up</a></li>
                              </div>
                </nav>
            <div class="prodacts">
              <div class="row col-md-12">
                 <div class="prodact"></div>
                 <div class="prodact"></div>
                 <div class="prodact"></div>
                 <div class="prodact"></div>
              </div>
              <div class="row col-md-12">
                 <div class="prodact col-md-2"></div>
                 <div class="prodact col-md-2"></div>
                 <div class="prodact col-md-2"></div>
                 <div class="prodact col-md-2"></div>
              </div>
          </div>
        </section>
        <section class="section_three col-md-10">
          <div class="row col-md-5">
            <h3>Meet our team</h3>
            <p>Lorem ipsum dolor sit amet,
              consectetur adipis cing elit,
              sed dooing eiusmod tempor incididut labore Ui / Ux ,
               print template.</p>
          </div>
          <div class="row col-md-12 group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <h5>mark waugh</h5>
              <p>Lorem ipsum dolor sit amet,
              consectetur adipis cing elit, sed dooing eiusmod tempor </br> incididut labore Ui / Ux ,
               print template.</p>
              <div class="social ">
                  <p class="col-md-2">Facebook</p>
                  <p class="col-md-2">Dribble</p>
                  <p class="col-md-2">Behance</p>
                  <p class="col-md-2">Twiter</p>
              </div>
              <div class="row col-md-12 groups">
                 <div class="item col-md-2">
                    <div class="hidden_block">sokina jue</div>
                 </div>
                 <div class="item col-md-2">
                    <div class="hidden_block">sokina jue</div>
                 </div>
                 <div class="item col-md-2">
                    <div class="hidden_block">sokina jue</div>
                 </div>
                 <div class="item col-md-2">
                    <div class="hidden_block">sokina jue</div>
                 </div>
              </div>
            </div>


          </div>
        </section>
        <section class="section_four col-md-12">
            <h3 class="col-md-10">Design tips, tricks, and freebies. Delivered weekly.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</p>
            <form method="POST" action="#" class="form col-md-9" name="form">
              <input type="text" name="email" placeholder="&#160;&#160;&#160;&#160;&#160;&#160;Email Address..." />
              <input type="submit" value="SUBSCRIBE" name="send">
            </form>
        </section>
        <section class="section_five col-md-11 pull-right">
            <div class="row col-md-6">
              <h3>get in touch</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </div>
            <div class="row col-md-12">
              <div class="form_message col-md-7">
                  <form method="POST" action="#" class="form col-md-9" name="form">
                    <div class="line">
                      <input type="text"  name="name" placeholder="&#160;&#160;&#160;&#160;&#160;&#160;Name" />
                      <input type="text" name="email" placeholder="&#160;&#160;&#160;&#160;&#160;&#160;Your email" />
                    </div>
                    <div class="line">
                      <textarea  class="input_ncolor" name="messege" placeholder="&#160;&#160;&#160;&#160;&#160;&#160;Type your message" ></textarea>
                    </div>
                    <div class="line">
                    <input type="submit" value="SEND MESSAGE" name="send">
                    </div>
                </form>
              </div>
              <div class="black_contact col-md-5 pull-right">
                  <div class="block_contact col-md-10 pull-right">
                      <h5>contact info</h5>
                      <p>Jalalabad 24 / A, Ambaarkhana, Sylhet,</br>  Bangladesh</p>
                      <p>redwan@deviserweb.com</p>
                      <p>(+88) 017 617 46373</p>
                  </div>
              </div>
            </div>
        </section>
        <footer>
<div class="foot_content col-md-10">
    <div class="copir">
        <p>© Copyright @Junaed 2016, All rights reserved.</p>
    </div>
    <div class="icons">
        <img src="/themes/custom/MyFirstTheme/img/twitter.png" alt="twitter" class="img-responsive">
        <img src="/themes/custom/MyFirstTheme/img/link.png" alt="link" class="img-responsive">
        <img src="/themes/custom/MyFirstTheme/img/google.png" alt="google" class="img-responsive">
        <img src="/themes/custom/MyFirstTheme/img/facebook.png" alt="facebook" class="img-responsive">
    </div>
</div>
        </footer>

